/frontend/bin/
*.class
*.DS_Store
/frontend/tests/output/*
/frontend/build/tsf.txt
/frontend/build/vsf.txt
/backoffice/tests/output/*
/backoffice/build/csf.txt
/backoffice/build/tsf.txt
/backoffice/build/vsf.txt
/backoffice/build/newcsf.txt
/fullrun/day*/*.log
/fullrun/day*/mergedtsf.txt
/fullrun/day*/tsf*.txt
/fullrun/vsf.txt
/fullrun/csf.txt